<template>
    <div>
        <list
            primaryKey="user_id"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            modalTitle="User Form"
            modalSize="lg"
            :columns="columns"
            :formData="formData"
            loadListUrl="api/v1/users"
            :enableSn = "true"
            :crudInfo="crudInfo">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'user_list',
    components : {list},
    data(){
        return{
            crudInfo : {create:{url:'api/v1/user',method:"post"},
                        view: {url:'api/v1/user',method:"get"},
                        update: {url:'api/v1/user',method:"post"},
                        delete: {url:'api/v1/user',method:"delete"}
                    },
            actionButtons : ['edit','details','delete'],
            moduleName: 'User',
            modalId : 'addUserMOdal',
            columns : [
                        {caption:'Name',key:'name'},
                        {caption:'Email',key:'email'},
                        {caption:'DOB',key:'date_of_birth'},
                        {key:'clientName',caption:'Client Name'},
                    ],
            formData : {
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields : [{name:'user_id',
                                  type :  'hidden',
                                  caption: 'Id',
                                  value : '',
                                  placeholder : 'Id',
                                  required:true,
                                  requiredOn:['update'],
                                  viewOn:['update']
                                },
                                {name:'_method',
                                              type :  'hidden',
                                              caption: '_method',
                                              value : 'PUT',
                                              defaultValue : 'PUT',
                                              placeholder : '_method',
                                              required:true,
                                              requiredOn:['update'],
                                              viewOn:['update']
                                            },

                                { isGroupField  : true,
                                  caption:'',
                                  fields:[{name:'name',
                                            caption:'Name',
                                            placeholder: 'Name',
                                            type:'text',
                                            required:{required : true,errmessage : 'Please Enter First Name'},
                                            class : 'col-sm-12 col-md-6 col-xs-12',
                                            value:'',
                                        },
                                        {   name:'email',
                                            caption:'Email',
                                            placeholder: 'Email',
                                            type:'email',
                                            value:'',
                                            class : 'col-sm-12 col-md-6 col-xs-12',
                                            required:{required : true , errmessage : 'Email required'},
                                        },
                                        { name:'password',
                                            caption : 'Password',
                                            placeholder:'Password',
                                            type:'password',
                                            value:'',
                                            min : 6,
                                            max:10,
                                            class : 'col-sm-6 col-md-6 col-xs-12 mb-3',
                                            required:true,
                                            requiredOn:["create"],
                                            viewOn:['create'],
                                          },
                                          { name:'conPassword',
                                            caption : 'Confrim Password',
                                            placeholder:'Confirm Password',
                                            type:'password',
                                            value:'',
                                            // name of the field
                                            equalTo : 'password',
                                            min : 6,
                                            max:10,
                                            class : 'col-sm-6 col-md-6 col-xs-12 mb-3',
                                            required:true,
                                            requiredOn:["create"],
                                            viewOn:['create'],
                                          },
                                          {name:'dashboard_type',
                                            type :  'select',
                                            caption: 'Dashboard Type',
                                            class : "col-sm-6 col-xs-12 col-md-6",
                                            value : '',
                                            placeholder : 'Select Dashboard Type',
                                            options : [{caption:'Management & Finance',value:1},
                                                      {caption:'Marketing',value:2},
                                                      {caption:'Editor',value:3},
                                                      ],
                                            required:true
                                          },
                                          {name:'client_id',
                                            type :  'select',
                                            caption: 'Client',
                                            class : "col-sm-6 col-xs-12 col-md-6",
                                            value : '',
                                            placeholder : 'Select Client',
                                            loadUrl : 'api/v1/clients/auto-complete',
                                            options : [],
                                          },],
                                },
                                {name:'date_of_birth',
                                  type :  'date',
                                  caption:'DOB',
                                  value : '',
                                  placeholder : 'Date of Birth',
                                  required:true
                                },

                    ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
