<template>
    <div>
        <list
            :primaryKey="primaryKey"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            :columns="columns"
            :formData="formData"
            :loadListUrl="loadListUrl"
            :crudInfo="crudInfo"
            modalSize="xlg"
            :enableSn = "true"
            modalTitle="Customer Form">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'department_list',
    components : {list},
    data(){
        return{
            crudInfo : {create:{url:'api/v1/department',method:"post"},
                        view: {url:'api/v1/department',method:"get"},
                        update: {url:'api/v1/department',method:"post"},
                        delete: {url:'api/v1/department',method:"delete"}
                      },
            primaryKey : 'department_id',
            actionButtons : ['edit','delete'],
            moduleName: 'Department',
            modalId : 'addDepartmentMOdal',
            loadListUrl : 'api/v1/departments',
            columns : [
                        {caption:'Title',key:'name'},
                        {caption:'Bonus Rate',key:'bonus_rate'}
                    ],
            formData : {
                    type : '',
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields : [{name:'department_id',
                                  type :  'hidden',
                                  caption: 'Id',
                                  value : '',
                                  placeholder : 'Id',
                                  requiredOn:['update'],
                                  viewOn:['update']
                                },
                                {name:'_method',
                                              type :  'hidden',
                                              caption: '_method',
                                              value : 'PUT',
                                              defaultValue : 'PUT',
                                              placeholder : '_method',
                                              requiredOn:['update'],
                                              viewOn:['update']
                                },
                                { isGroupField  : true,
                                  caption:'',
                                  fields:[{ isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            fields :[{name:'name',
                                                      caption:'Department Name',
                                                      placeholder: 'Department Name',
                                                      type:'text',
                                                      required:{required : true , errmessage : 'Please Enter Department Name'},
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },

                                            ]
                                          },
                                          { isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            caption : 'Description',
                                            fields :[{name:'description',
                                                      caption:'',
                                                      placeholder: 'Description',
                                                      type:'textarea',
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      required:{required : true , errmessage : 'Please Enter Description'},
                                                      value:'',
                                                    },


                                            ]
                                          },
                                          { isGroupField : true,
                                            class : "col-sm-12 col-md-4",
                                            caption : 'Bonus Rate',
                                            fields :[{name:'bonus_rate',
                                                      caption:'',
                                                      placeholder: 'Bonus Rate',
                                                      type:'text',
                                                      required:{required : true,errmessage : 'Please Enter Bonus Rate'},
                                                      class : 'col-sm-12 col-md-12 col-xs-12',
                                                      value:'',
                                                    },
                                            ]
                                          },
                                        ]
                                },
                    ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
