<template>
    <div>
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="text-white card-title">{{moduleName}} List</h4>
                <h6 class="card-subtitle text-white m-b-0 op-5"></h6>
            </div>
            <div class="card-body">
                <div class="row tootlbar">
                    <div class="col-md-6 col-sm-12">
                        <button v-if="!disableCreate" type="button" @click="openModal('create')" class="btn waves-effect waves-light btn-rounded btn-outline-success"><i class="fa fa-plus"></i> Add {{moduleName}}</button>
                        <button v-if="actionButtons.includes('export')" type="button" @click="exportTable()" class="btn waves-effect waves-light btn-rounded btn-outline-success"> Export {{moduleName}}</button>
                    </div>
                </div>


                <div class="table-responsive">
                    <table class="table table-hover" v-if="responseData.result">
                        <thead>
                            <tr>
                                <th v-if="enableSn">#</th>
                                <th v-for="(col,colKey) in columns" :key="colKey">{{col.caption}}</th>
                                <th v-if="!disableAction">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(td,tdKey) in responseData.result.rows" :key="tdKey">
                                <td v-if="enableSn">{{tdKey+1}}</td>
                                <td v-for="(col,colKey) in columns" :key="colKey">
                                    <span v-if="!col.counter && !col.fileType">{{td[col.key]}}</span>
                                    <span v-if="col.fileType"><img :src="'/storage/'+td[col.key]" width="50"></span>
                                    <span :class="(Number((td[col.key]).substring(0,td[col.key].length-1))>0)?col.counter.up.colorClass:col.counter.down.colorClass" v-if="col.counter"><b><i :class="(Number((td[col.key]).substring(0,td[col.key].length-1))>0)?col.counter.up.iconClass:col.counter.down.iconClass"></i></b> {{td[col.key]}}</span>
                                </td>
                                <td v-if="!disableAction">
                                    <a href="javascript:;" v-if="actionButtons.includes('edit')" @click="openModal('update',((td[primaryKey])?td[primaryKey]:td[columns[0]]))"><i class="fa fa-edit"></i></a> &nbsp;
                                    <router-link v-if="actionButtons.includes('details')" :to="'/'+moduleName.toLowerCase()+'/'+((td[primaryKey])?td[primaryKey]:td[columns[0]])+'/details'"><i class="fa fa-eye"></i></router-link> &nbsp;
                                    <a href="javascript:;" v-if="actionButtons.includes('delete')" @click="showDeleteModal(((td[primaryKey])?td[primaryKey]:td[columns[0]]))"><i class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="text-right paginate" v-if="responseData.result">
                    <label>Showing {{getRecordLimit()}} of {{responseData.result.total}}</label>
                    <button class="btn btn-circle btn-sm" @click="(currentPage>1)?currentPage--:currentPage;listHandler()"><i class="fa fa-arrow-left"></i></button>

                    <button :class="'btn btn-circle btn-sm'+' '+((currentPage == page)?' btn-success':'')" @click="currentPage=page; listHandler()" v-for="(page,pageIndex) in getPageNumberLinks()" :key="pageIndex">{{page}}</button>

                    <button class="btn btn-circle btn-sm" @click="(currentPage<responseData.result.total/pageSize)?currentPage++:currentPage; listHandler()"><i class="fa fa-arrow-right"></i></button>
                    <select v-model="pageSize" @change="currentPage=1;listHandler()" class="form-control col-md-1 col-sm-2 col-xs-4">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="200">200</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                    </select>

                </div>

            </div>
        </div>
        <modal v-if="formData" :formData="formData" :modalTitle="modalTitle" :okTitle="'Save'+' '+moduleName"  :ref="modalId" @onSubmit="submitHandler($event)" :scenario="scenario" :modalSize="(modalSize)?modalSize:''"></modal>
        <b-modal ref="deleteConfirmModal" hide-header hide-footer>
            <div class="d-block text-center">
                <h3>Are you sure to delete this record!</h3>
            </div>
            <div class="text-center">
                <button class="btn btn-danger" @click="hideDeleteModal">No, Thanks</button>
                <button class="btn btn-success" @click="deleteRow()">Yes, Please</button>
            </div>
        </b-modal>
    </div>
</template>
<style>
    .paginate .btn:focus, .btn.focus {
    -webkit-box-shadow: none !important;
    box-shadow: none!important;
}
</style>
<script>
import modal from './modal';
import opmixin from '../mixins/operationMixins';
export default {
    name : "table_list",
    components:{modal},
    data() {
        return {
            scenario : 'create',
            selectedId : 0,
            currentPage : 1,
            searchForm : (this.defaultParams)?this.defaultParams:{},
            pageSize : (this.defaultPagesize)?this.defaultPagesize:10,
            responseData : {},
            validatinError : false,
        }
    },
    /*
    *   props takes all data from its parent and make easy in automization
    *   @formData is for the form displayed in the modal
    *   @primaryKey is the unique id  on which record can be edited or deleted, this primary key must match one of key preseted in api
    *   @actionButtons holds the info of edit/details/delete buttons appeared on the right most column in table
    *   @moduleName is the name of the column presented in top of table
    *   @modalId is the id of modal which id dynamically assigned .. this could handle if we have component use more than once at the same parent
    *   @modalSize is the size of the modal
    *   @modalTitle is the title of modal displayed on top of modal
    *   @columns is the list of columns that are to be displayed on table
    *   @loadListUrl is url that looks for api to get list of data
    *   @crudInfo holds the list of apis to have CRUD operations
    *   @defaultParams is object in key value pair for default data to be send with loadList
    *
    */
    props : ['formData','primaryKey','actionButtons','moduleName','modalId','modalSize','modalTitle','columns','loadListUrl','crudInfo','defaultParams','defaultPageSize','pagesEachSide','enableSn','disableCreate','disableAction','exportButton'],
    methods: {
        openModal(scenario,recordId){
            this.scenario = scenario;
            if(this.scenario == 'update')
            {
                /*
                * params for fetching like id = 1233
                */
                var params = {};
                /*
                * value assignment of primary key to params object after declaration
                */
                params[this.primaryKey] = recordId;
                /*
                *  post request sent to fetch data of a record
                */
                this.getInfo(this.crudInfo.view.url+"/"+recordId,this.crudInfo.view.method);
            }
            else
            {
                this.$refs[this.modalId].open();
            }
        },
        submitHandler(responseData){
            /*
            * this.crudInfo[this.scenario] fetch url from CRUD info as per current scenario
            * and sends request to method
            */
            if(!responseData.validationError)
            {
               this.submitData(this.crudInfo[this.scenario].url+((this.scenario.toLowerCase() != 'create')?"/"+responseData.formData[this.primaryKey]:''),responseData.formData,this.crudInfo[this.scenario].method);
            }
        },
        listHandler()
        {
            this.searchForm.limit = this.pageSize;
            this.searchForm.page = this.currentPage;
            this.loadList(this.loadListUrl,this.searchForm);
        },
        getPageNumberLinks()
        {
            var links = [];
            var totalPages = Math.ceil(this.responseData.result.total / this.pageSize);
            var pagesEachSide = (this.pagesEachSide)?this.pagesEachSide:4;

            var minPage = (this.currentPage-pagesEachSide<=0)?1:this.currentPage-pagesEachSide;
            var maxPage =  this.currentPage + pagesEachSide;
            maxPage += (this.currentPage <= pagesEachSide)?pagesEachSide+1-this.currentPage :0;
            var extraToMaxpage = (maxPage>=totalPages)?maxPage-totalPages:0;
            maxPage -= extraToMaxpage;
            minPage -= extraToMaxpage;
            minPage = (minPage<=0)?1:minPage;
            for(var i=minPage;i<=maxPage;i++)
            {
                links.push(i);
            }
            return links;

        },
        getRecordLimit(){
            var message = '';
            if(this.responseData.result.total <= this.pageSize)
            {
                message = '1 - '+this.responseData.result.total;
            }
            else{
                message = ((this.currentPage-1)*this.pageSize+1)+" - "+((this.currentPage*this.pageSize<=this.responseData.result.total)?this.currentPage*this.pageSize:this.responseData.result.total);
            }
            return message;

        },

        showDeleteModal (selectedId) {
            this.selectedId = selectedId;
            this.$refs.deleteConfirmModal.show()
        },
        hideDeleteModal () {
            this.selectedId = 0;
            this.$refs.deleteConfirmModal.hide()
        },
        deleteRow()
        {
            var params = {};
            params[this.primaryKey] = this.selectedId;
            this.deleteRecord(this.crudInfo.delete.url+'/'+this.selectedId,params,this.crudInfo.delete.method);
        },
        exportTable()
        {
            var params = {};
            this.exportTableRecord(this.crudInfo.export.url+'/',params,this.crudInfo.export.method);
        }


    },
    beforeMount()
    {
        /*
        *   loadListUrl is the url for loading data and displaying in table
        */
        this.listHandler();
        this.siteUrl = document.head.querySelector('meta[name="siteUrl"]').getAttribute("content");
    },
    mixins : [opmixin]
}
</script>
