<template>
    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- User profile -->
            <!-- <div class="user-profile" style="background: url(https://wrappixel.com/demos/admin-templates/material-pro/assets/images/background/user-info.jpg) no-repeat;"> -->
                <!-- User profile image -->
                <!-- <div class="profile-img"> <img src="https://wrappixel.com/demos/admin-templates/material-pro/assets/images/users/profile.png" alt="user" /> </div> -->
                <!-- User profile text-->
                <!-- <div class="profile-text"> <a href="#" class="dropdown-toggle u-dropdown" data-toggle="dropdown"
                        role="button" aria-haspopup="true" aria-expanded="true">Markarn Doe</a>
                    <div class="dropdown-menu animated flipInY"> <a href="#" class="dropdown-item"><i class="ti-user"></i>
                            My Profile</a> <a href="#" class="dropdown-item"><i class="ti-wallet"></i> My Balance</a>
                        <a href="#" class="dropdown-item"><i class="ti-email"></i> Inbox</a>
                        <div class="dropdown-divider"></div> <a href="#" class="dropdown-item"><i class="ti-settings"></i>
                            Account Setting</a>
                        <div class="dropdown-divider"></div> <a href="login.html" class="dropdown-item"><i class="fa fa-power-off"></i>
                            Logout</a>
                    </div>
                </div>
            </div> -->
            <!-- End User profile text-->
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">
                    <li :class="(menu.isActive)?'active':''" v-for="(menu,key) in menus" :key="key">
                        <router-link :href="menu.url" class="waves-effect waves-dark" @click="loadComponent()"><i :class="menu.icon"></i><span class="hide-menu"> {{menu.caption}} hello</span></router-link>
                    </li>
                    <li>

                    </li>

                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
        <!-- Bottom points-->
        <!-- <div class="sidebar-footer">
            <a href="#" class="link" data-toggle="tooltip" title="Settings"><i class="ti-settings"></i></a>
            <a href="#" class="link" data-toggle="tooltip" title="Email"><i class="mdi mdi-gmail"></i></a>
            <a href="#" class="link" data-toggle="tooltip" title="Logout"><i class="mdi mdi-power"></i></a>
        </div> -->
        <!-- End Bottom points-->
    </aside>
</template>

<script>
export default {
    name : "left_menu",
    data() {
        return {
            heading : 'Reset Password',
            subHeading : "Enter your Email and instructions will be sent to you!",
            fieldInlineTypeArray : ['text','date','email','number','password'],
            menus : [   {   url:'/dashboard',
                            caption : 'Dashboard',
                            icon : 'mdi mdi-gauge',
                            isActive : true,
                        },
                        {   url:'/customer/list',
                            caption : 'Customers',
                            icon : 'mdi mdi-account-card-details',
                            isActive : false
                        },
                        {   url:'/product/list',
                            caption : 'Products',
                            icon : 'icon-layers',
                            isActive : false
                        },

                        {   url:'/users/list',
                            caption : 'Users',
                            icon : 'mdi mdi-account-key',
                            isActive : false
                        }],
        }
    },
    methods: {
        onSubmit() {
            if (this.formstate.$invalid) {
                return;
            } else {
                this.$router.push("/");
            }
        },

        loadComponent()
        {

        }



    },
    beforeMount()
    {
        alert('hello');
    }

}
</script>
