<template>
    <div>
        <dform
          :formData="formData"
          :heading="'Product Info'"
          :subHeading="'Add Admin Product here'"
          :dataLoadUrl="'api/v1/magazine/'+$route.params.id"
          :submitUrl="'api/v1/magazine/'+$route.params.id"
          submitMethod="post"
          :params="{magazine_id:$route.params.id}">
        </dform>
    </div>
</template>

<script>
import dform from '../../components/form';
import list from '../../components/List';

export default {
    name : "product_form",
    components : {dform,list},
    data() {
        return {
            clinet_id : '',
            formData : {
                    submitUrl : '',
                    method : '',
                    type : '',
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    submitButton : {caption : "Save",
                                        class : "btn btn-success mr-3",
                                        iconClass : "fa fa-save",
                                    },
                    cancelButton : {caption : "Cancel",
                                        class : "btn btn-danger",
                                        iconClass : 'fa fa-close',
                                        url : "/list",
                                        visible : false
                                    },
                    fields : [
                      {name:'magazine_id',
                                  type :  'hidden',
                                  caption: 'Id',
                                  value : '',
                                  placeholder : 'Id',
                                  required:true,
                                  requiredOn:['update'],
                                  viewOn:['update']
                              },

                              {name:'_method',
                                          type :  'hidden',
                                          caption: '_method',
                                          value : 'PUT',
                                          defaultValue: 'PUT',
                                          placeholder : '_method',
                                          required:true,
                                          requiredOn:['update'],
                                          viewOn:['update']
                              },
                              {
                                isGroupField  : true,
                                caption:'',
                                fields:[
                                        {name:'name',
                                            type :  'text',
                                            caption: 'Name',
                                            value : '',
                                            placeholder : 'Name',
                                            class : 'col-sm-6 col-md-6 col-xs-12',
                                            required:true,
                                        },
                                        {name:'client_id',
                                            type :  'select',
                                            caption: 'Customer',
                                            value : '',
                                            placeholder : 'Select Customer',
                                            required:true,
                                            loadUrl : 'api/v1/clients/auto-complete',
                                            options : [],
                                            class : 'col-sm-6 col-md-6 col-xs-12',
                                        },
                                        {name:'logo1',
                                            type :  'file',
                                            caption: 'Logo',
                                            value : '',
                                            placeholder : 'Logo',
                                            required:true,
                                            requiredOn : ['create'],
                                            class : 'col-sm-6 col-md-6 col-xs-12',
                                        },
                                        {name:'description',
                                            type :  'textarea',
                                            caption: 'Description',
                                            value : '',
                                            placeholder : 'Description',
                                            required:false,
                                            class : 'col-sm-6 col-md-6 col-xs-12',
                                        },
                                        {
                                                name:'logo',
                                                type :  'hidden',
                                                fileType:'image',
                                                caption: 'logo',
                                                value : '',
                                                placeholder : 'logo',
                                                class : 'col-sm-6 col-md-6 col-xs-12',
                                                required:true
                                        },
                                        {name:'api_key',
                                            type :  'text',
                                            caption: 'API Key',
                                            value : '',
                                            placeholder : 'API Key',
                                            required:true,
                                            class : 'col-sm-6 col-md-6 col-xs-12',
                                        }
                                    ]
                              },
                    ]
            },

        }
    },
    methods: {
        onSubmit(dataReturned)
        {

        },
        cancelFunction()
        {

        }
    },
    beforeMount()
    {

    }

}
</script>
