<template>
    <div>
        <list
            primaryKey="employee_id"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            modalTitle="Employee Form"
            modalSize=""
            :columns="columns"
            :formData="formData"
            loadListUrl="api/v1/employees"
            :enableSn = "true"
            :crudInfo="crudInfo">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'employee_list',
    components : {list},
    data(){
        return{
            crudInfo : {create:{url:'api/v1/employee',method:'post'},
                        view: {url:'api/v1/employee',method:'get'},
                        update: {url: 'api/v1/employee',method:"post"},
                        delete: {url:'api/v1/employee',method:"delete"},
                        export: {url:'api/v1/employee/export_to_csv',method:"post"}
                    },
            actionButtons : ['edit','delete','export'],
            moduleName: 'Employee',
            modalId : 'employeeMOdal',
            columns : [
                        {key:'name',caption:'Name'},
                        {key:'photo',caption:"Photo",fileType:"image"},
                        {key:'gender',caption:"Gender"},
                        {key:'email',caption:'Email'},
                        {key:'departmentName',caption:'Department Name'},
                        {key:'bonus',caption:'Bonus'},

                    ]
    ,
            formData : {
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields:[{name:'employee_id',
                                type :  'hidden',
                                caption: 'Id',
                                value : '',
                                placeholder : 'Id',
                                required:true,
                                requiredOn:['update'],
                                viewOn:['update']
                            },
                            {name:'_method',
                                        type :  'hidden',
                                        caption: '_method',
                                        value : 'PUT',
                                        defaultValue: 'PUT',
                                        placeholder : '_method',
                                        required:true,
                                        requiredOn:['update'],
                                        viewOn:['update']
                            },
                            {name:'name',
                                type :  'text',
                                caption: 'Name',
                                value : '',
                                placeholder : 'Name',
                                required:{required : true,errmessage : 'Please Enter Name'},
                            },
                            {name:'department_id',
                                type :  'select',
                                caption: 'Department',
                                value : '',
                                placeholder : 'Select Department',
                                required:{required : true,errmessage : 'Please select Department'},
                                loadUrl : 'api/v1/departments/auto-complete',
                                options : [],
                            },
                            {name:'photo1',
                                type :  'file',
                                caption: 'Photo',
                                value : '',
                                placeholder : 'Photo',
                                required:{required : true,errmessage : 'Please Select Photo'},
                                requiredOn : ['create']
                            },
                            {name:'photo',
                            type :  'hidden',
                            fileType:'image',
                            caption: 'photo',
                            value : '',
                            placeholder : 'photo'
                            },
                            {name:'gender',
                            type :  'select',
                            caption: 'Gender',
                            value : '',
                            placeholder : 'Gender',
                            required:{required : true,errmessage : 'Please Select Gender'},
                            options : [
                            {caption:'Male',value:'male'},
                            {caption:'Female',value:'female'}
                            ],
                            },
                            {name:'email',
                                type :  'text',
                                caption: 'Email',
                                value : '',
                                placeholder : 'Email',
                                required:{required : true,errmessage : 'Please Enter Email'},
                            },
                            {name:'phone',
                                type :  'text',
                                caption: 'Phone',
                                value : '',
                                placeholder : 'Phone',
                                required:{required : true,errmessage : 'Please Enter Phone'},
                            },
                            {name:'address',
                                type :  'text',
                                caption: 'Address',
                                value : '',
                                placeholder : 'Address',
                                required:{required : true,errmessage : 'Please Enter Address'},
                            },
                            {name:'educational_background',
                                type :  'textarea',
                                caption: 'Educational Background',
                                value : '',
                                placeholder : 'Educational Background',
                                required:{required : true,errmessage : 'Please Enter Educational Background'},
                            },
                            {name:'current_salary',
                                type :  'text',
                                caption: 'Current Salary',
                                value : '',
                                placeholder : 'Current Salary',
                                required:{required : true,errmessage : 'Please Enter Current Salary'},
                            }
                    ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
