<template>
    <div>
        <list
            primaryKey="tracker_id"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            modalTitle="Contact Form"
            modalSize=""
            :columns="columns"
            :formData="formData"
            loadListUrl="api/v1/trackers"
            :enableSn = "true"
            :disableCreate="true"
            :exportButton="true"
            :crudInfo="crudInfo">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'contact_list',
    components : {list},
    data(){
        return{
            crudInfo : {
                        view: {url:'api/v1/tracker',method:'get'},
                        update: {url: 'api/v1/tracker',method:"post"},
                        delete: {url:'api/v1/tracker',method:"delete"}
                    },
            actionButtons : ['edit','details','delete'],
            moduleName: 'Contact',
            modalId : 'trackerMOdal',
            columns : [
              {key:'first_name',caption:'First Name'},
              {key:'last_name',caption:"Last Name"}
                    ]
    ,
            formData : {
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields:[{name:'tracker_id',
                                type :  'hidden',
                                caption: 'Id',
                                value : '',
                                placeholder : 'Id',
                                required:true,
                                requiredOn:['update'],
                                viewOn:['update']
                            },
                            {name:'_method',
                                        type :  'hidden',
                                        caption: '_method',
                                        value : 'PUT',
                                        defaultValue: 'PUT',
                                        placeholder : '_method',
                                        required:true,
                                        requiredOn:['update'],
                                        viewOn:['update']
                            },
                            {name:'first_name',
                            type :  'text',
                            caption: 'First Name',
                            value : '',
                            placeholder : 'First Name',
                            required:true,
                            },
			                      {name:'last_name',
                             type :  'text',
                             caption: 'Last Name',
                             value : '',
                             placeholder : 'Last Name',
                             required:true,
                            },
                            { name:'contact_type',
                              type :  'select',
                              caption: 'Contact Types',
                              multiple: 'true',
                              class : "col-sm-6 col-xs-12 col-md-6",
                              value : [],
                              placeholder : 'Select Contact Types',
                              loadUrl : 'api/v1/contact_types/auto-complete',
                              options : [],
                            }
                            ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
