<template>
    <div>
      <component v-bind:is="dashboards[userInfo.dashboard_type]"></component>
    </div>
</template>
<script>
import Dashboard1 from "./Dashboard1";
import Dashboard2 from "./Dashboard2";
import Dashboard3 from "./Dashboard3";


export default {
    name : 'dashboard',

    data(){
        return{
          userInfo:{},
          dashboards:{1:Dashboard1,
                      2:Dashboard2,
                      3:Dashboard3
          }
        }
    },
    methods : {


    },
    beforeMount()
    {
      this.userInfo = JSON.parse(document.head.querySelector('meta[name="userInfo"]').getAttribute("content"));

    }

}
</script>
