<template>
    <div>
        <list
            primaryKey="subscriber_id"
            :actionButtons="actionButtons"
            :moduleName="moduleName"
            :modalId="modalId"
            modalTitle="Subscriber Form"
            modalSize=""
            :columns="columns"
            :formData="formData"
            loadListUrl="api/v1/subscribers"
            :enableSn = "true"
            :disableCreate="true"
            :disableAction="true"
            :exportButton="true"
            :crudInfo="crudInfo">
        </list>
    </div>
</template>
<script>
import list from '../../components/List';
export default {
    name : 'product_list',
    components : {list},
    data(){
        return{
            crudInfo : {
                        view: {url:'api/v1/subscriber',method:'get'},
                        update: {url: 'api/v1/subscriber',method:"post"},
                        delete: {url:'api/v1/subscriber',method:"delete"}
                    },
            actionButtons : ['edit','details','delete'],
            moduleName: 'Subscriber',
            modalId : 'subscriberMOdal',
            columns : [
              {key:'name',caption:'Name'},
              {key:'price',caption:"Price"},
              {key:'start_date',caption:"Start Date"},
              {key:'end_date',caption:"End Date"}
                    ]
    ,
            formData : {
                    formCSSClass : '',
                    labelWidthClass : '',
                    fieldWidthClass : '',
                    fields:[{name:'subscriber_id',
                                type :  'hidden',
                                caption: 'Id',
                                value : '',
                                placeholder : 'Id',
                                required:true,
                                requiredOn:['update'],
                                viewOn:['update']
                            },
                            {name:'_method',
                                        type :  'hidden',
                                        caption: '_method',
                                        value : 'PUT',
                                        defaultValue: 'PUT',
                                        placeholder : '_method',
                                        required:true,
                                        requiredOn:['update'],
                                        viewOn:['update']
                            },
                            {name:'name',
                                type :  'text',
                                caption: 'Name',
                                value : '',
                                placeholder : 'Name',
                                required:true,
                            },
                                                ]
            },

        }
    },
    methods : {
        openModal(){
            this.$refs[this.modalId].open();
        }
    }
}
</script>
